# Shared defaults across all environments
replicaCount: 1

image:
  repository: mendhak/http-https-echo
  pullPolicy: IfNotPresent
  tag: "latest"

service:
  type: ClusterIP
  port: 8080

env:
  APP_NAME: "http-echo"
  HTTP_PORT: "8080"
  HTTPS_PORT: "8443"
  ECHO_INCLUDE_ENV_VARS: "1"

hpa:
  enabled: true
  minReplicas: 1
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi
